body {
    background-color: aquamarine;
}
a:link{
    color: indigo;
}
a:visited{
    color: lightslategray;
}
a:hover{
    color: beige;
}
table {
    background-color: aquamarine;
}

th {
    background-color: aquamarine;
}

td {
    background-color: aqua;
}
